{% extends "core/base.html" %}
{% load static %}
{% load templateTags %}
{% block content %}
    <br>
    <div class="container">
        <form method="GET" action="{{ request.path }}">
            <div class="row">
                <div class="col">
                    <input type="text" id="query" name="query" class="form-control col"
                           placeholder="Search for anything..." required/>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-outline-primary" value="Search"/>
                </div>
            </div>
        </form>
        <br><br>
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                <div class="col-md-12" style="width: 1100px;">
                    {% for item in itemList %}
                        {% renderItemCatalogue request item showSeller='False' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}