{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateTags %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}"/>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    {% renderItemViewComponent request item %}
    <hr>
    {% similarProductCarousel item %}
{% endblock %}